[package]
name = "ploys-api"
version = "0.4.0"
description = "A remote API to manage projects, packages, releases and deployments."
authors = ["Daniel Balcomb <daniel.balcomb@gmail.com>"]
homepage = "https://ploys.dev"
repository = "https://github.com/ploys/ploys"
license = "MIT OR Apache-2.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1.0.89"
axum = "0.8.4"
axum-extra = { version = "0.10.1", features = ["typed-header"] }
clap = { version = "4.3.21", features = ["derive", "env"] }
hex = "0.4.3"
hmac = "0.12.1"
jsonwebtoken = "9.3.0"
mime = "0.3.17"
reqwest = { version = "0.12.8", features = ["json"] }
semver = "1.0.19"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.117"
serde_with = "3.11.0"
sha2 = "0.10.8"
time = { version = "0.3.36", features = ["serde", "formatting", "parsing"] }
tokio = { version = "1.33.0", features = ["rt-multi-thread", "macros"] }
tower-service = "0.3.3"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
uuid = "1.11.0"

[dependencies.clap-verbosity-flag]
version = "3.0.2"
features = ["tracing"]
default-features = false

[dependencies.ploys]
version = "0.5.0"
path = "../ploys"
features = ["github"]
default-features = false
