name: Release

on:
  release:
    types: [created]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.release.tag_name, 'ploys') || contains(github.event.release.tag_name, 'ploys-cli') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: dtolnay/rust-toolchain@master
        with:
          targets: x86_64-unknown-linux-gnu
          toolchain: stable

      - name: Publish (ploys)
        if: ${{ !contains(github.event.release.tag_name, 'ploys') }}
        run: cargo publish --package ploys --token ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Publish (ploys-cli)
        if: ${{ contains(github.event.release.tag_name, 'ploys-cli') }}
        run: cargo publish --package ploys-cli --token ${{ secrets.CARGO_REGISTRY_TOKEN }}

  build:
    name: Build (${{ matrix.label }})
    runs-on: ${{ matrix.os }}
    if: ${{ contains(github.event.release.tag_name, 'ploys-cli') }}
    permissions:
      contents: write

    strategy:
      matrix:
        include:
          - label: linux, aarch64
            target: aarch64-unknown-linux-gnu
            toolchain: stable
            os: ubuntu-24.04-arm

          - label: linux, x86_64
            target: x86_64-unknown-linux-gnu
            toolchain: stable
            os: ubuntu-latest

          - label: macos, aarch64
            target: aarch64-apple-darwin
            toolchain: stable
            os: macos-latest

          - label: macos, x86_64
            target: x86_64-apple-darwin
            toolchain: stable
            os: macos-latest

          - label: windows, x86_64
            target: x86_64-pc-windows-msvc
            toolchain: stable
            os: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: dtolnay/rust-toolchain@master
        with:
          targets: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}

      - name: Upload
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: ploys
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
